# Environment
.venv*/
env/
.env
.data/
venv/

# Cache
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__/
__pycache__/

# Build and Compiled
dist/
_build/
*.pyc
docs/pages/notebooks/*.ipynb

# Test Coverage
.coverage
htmlcov/
coverage.xml

# Local work
.vscode/
scratchworks/
scratchwork.py
local.md
ISSUES.md
.python-version
.DS_Store
logs/
